/* @import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Libre+Baskerville:ital@0;1&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Libre Baskerville", serif;
  --font-mono: "League Spartan", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: "Libre Baskerville", "League Spartan", serif, sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Libre+Baskerville:ital@0;1&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Libre Baskerville", "League Spartan", serif, sans-serif;
}
